.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
}

.color-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  z-index: 0;
}

.content {
  text-align: center;
  position: relative;
  z-index: 1;
}

.content h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 600;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: black;
  background-color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 40px;
  border-radius: 50px;
  margin-top: 20px;
  transition: 0.2s;
}

.content a:hover {
  letter-spacing: 6px;
  color: var(--accent-color);
}

@media (min-aspect-ratio: 16/9) {
  .video-container video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-container video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .video-container video {
    object-fit: cover;
    object-position: center;
  }
  
  .content h1 {
    font-size: 32px;
  }
}