.shelters-page {
  min-height: 100vh;
  background-color: var(--base-color);
}

.shelters-page main {
  padding-top: 140px;
}

.shelters-page nav {
  background-color: var(--accent-color);
}

.shelters-page nav ul li a {
  color: white;
}

.shelters-page nav ul li a:hover {
  color: white;
}

.map-section {
  height: 60vh;
  padding: 0px 20px;
}

.shelters-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 2rem;
}

