nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

nav a {
    text-decoration: none;
}

nav .logo {
    width: 80px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    transition: 0.2s;
}

nav ul li a:hover {
    letter-spacing: 1px;
    color: var(--accent-color);
}

#nav-button {
    background-color: var(--accent-color);
    color: white !important;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#nav-button:hover {
  background-color: var(--accent-color);
  transition: 0.2s;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        z-index: 100;
        position: relative;
    }

    .nav-links {
        position: fixed;
        right: -100%;
        top: 0;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 100vh;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links li {
        margin: 20px 0;
    }
}

/* Hamburger animation classes */
.rotate-45 {
    transform: rotate(45deg) translate(5px, 6px);
}

.opacity-0 {
    opacity: 0;
}

.rotate-negative-45 {
    transform: rotate(-45deg) translate(5px, -6px)
}