:root {
  --accent-color: #08C2FF;
  --base-color: white;
  --text-color: #2E2B41;
  --input-color: #F3F0FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}